@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.navbar-nav img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
